name: Java CI with Maven

on:
  push:
    branches: [ "master" ]

jobs:
  maven:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn compile

      - name: Run the App
        run: java -cp target/classes com.example.HelloWorld

      # -----------------------------
      # Security Scan Using Gitleaks
      # -----------------------------
      - name: Install Gitleaks
        run: |
          curl -sSfL https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks-linux-amd64 -o gitleaks
          chmod +x gitleaks

      - name: Run Gitleaks Security Scan
        run: |
          ./gitleaks detect \
            --source . \
            --report-path gitleaks-report.json \
            --report-format json

      - name: Upload Gitleaks Report
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: gitleaks-report.json
